<%- include('partials/header') %>
<%- include('navbar', {loggedIn:loggedIn}) %>

  <div class="container-fluid pt-5 text-center">
    <h1 class="display-3"><i class="fas fa-key fa-sm me-2"></i>Here lay all my secrets:</h1>
    <hr>
    <div class="row g-2">
      <%let count = -1%>
      <%secrets.forEach((secret, i)=>{%>
        <%count += 1%>
        <% if (count%2 === 0) { %>
          <div class="col-4 col-md-3 col-lg-2 text-capitalize text-color-1">
            <%- include('my-cards', {secret:secret, index:i}) %>
          </div>
        <%} else {%>
          <div class="col-4 col-md-3 col-lg-2 text-capitalize text-color-2">
            <%- include('my-cards', {secret:secret, index:i}) %>
          </div>
        <%}%>
      <%})%>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <a class="btn btn-dark" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
